<a href="https://colab.research.google.com/github/jatindangi1206/AI-DA/blob/master/Symplfyd%3AKMeansClustering_Wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Numerical libraries 

import numpy as np
from sklearn.cluster import KMeans

# To handle data in form rows and columns 

import pandas as pd 
# importing plotting libraries 
import matplotlib.pyplot as plt
from sklearn import metrics

In [4]:
#reading the csv file into pandas dataframe
wine_data = pd.read_csv("Wine_Dataset.csv")

#check top few records to get 

wine_data.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [8]:
wine_data_x = wine_data.iloc[:,0:11]

#standardize the data 

from sklearn.preprocessing import MinMaxScaler

min_max_scaler =  MinMaxScaler()

wine_data_z = min_max_scaler.fit_transform(wine_data_x)


wine_data_z

array([[0.24778761, 0.39726027, 0.        , ..., 0.60629921, 0.13772455,
        0.15384615],
       [0.28318584, 0.52054795, 0.        , ..., 0.36220472, 0.20958084,
        0.21538462],
       [0.28318584, 0.43835616, 0.04      , ..., 0.40944882, 0.19161677,
        0.21538462],
       ...,
       [0.15044248, 0.26712329, 0.13      , ..., 0.53543307, 0.25149701,
        0.4       ],
       [0.11504425, 0.35958904, 0.12      , ..., 0.65354331, 0.22754491,
        0.27692308],
       [0.12389381, 0.13013699, 0.47      , ..., 0.51181102, 0.19760479,
        0.4       ]])

In [9]:
cluster = KMeans(n_clusters=6, random_state=1)
cluster.fit(wine_data_z)

KMeans(n_clusters=6, random_state=1)

**Every cluster gets associated with a label , centroid and intertia **